
:root {
    --gray:#2F303A ;
--button: #2196F3;
--white: #FFFFFF;
--navigation: #212121;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
   
  }


  * {
    margin: 0; 
    padding: 0;
 }





 .main-tittle-portfolio{display: none;}